<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118265039198-2md10idnbecoimjrrm6ffto30g85vq22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118265039198-2md10idnbecoimjrrm6ffto30g85vq22</string>
	<key>API_KEY</key>
	<string>AIzaSyDzy1d_avxqCqpO0I-0-TSJBvMWiGR6miM</string>
	<key>GCM_SENDER_ID</key>
	<string>118265039198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipely</string>
	<key>PROJECT_ID</key>
	<string>recipely-7f556</string>
	<key>STORAGE_BUCKET</key>
	<string>recipely-7f556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118265039198:ios:eeb23bd370e1ab3f3667cf</string>
</dict>
</plist>